{% extends 'base.html' %}
{% block block %}
<h2 class="text-center text-white">О нас</h2>
<div class="container">
  <ul class="list-group list-group-horizontal py-5">
    <li class="list-group-item">История нашего ресторана:</li>
    <li class="list-group-item">Наш ресторан радует вас соей атмосферой и кухней уже 5 лет. А начиналось
    все с желания моей жены удивить всех своими познаниями в кулинарии! И вот, оглядываясь
    назад я могу с уверенностью сказать что это еще не предел наших возможностей! Это только начало!!!</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm py-5">
    <li class="list-group-item">Наши миссии и ценности:</li>
    <li class="list-group-item">Главная наша миссия - донести до народа насколько вкусной и необычной может быть
      привычная всем домашняя кухня! А главня ценность, это не изменять себе и не поддаваться на изменчивость трендов!</li>
  </ul>
  <ul class="list-group list-group-horizontal-md py-5">
    <li class="list-group-item">Наша команда:</li>
    <li class="list-group-item">Для вас всегда рады стараться все люди из нашего коллектива, это директор, в лице моей
    жены, управляющий - я сам, и бригада поваров, которые переняли все секреты и рецепты блюд готовишихся в нашей семье!</li>
  </ul>
</div>

{% endblock %}
